<!DOCTYPE html>
<html>
  <head>
    <title>Nom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
   <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
  <a class="navbar-brand" href="#">SYNONYMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
       <% if user_signed_in? %>
         <a class="navbar text-right"><%= link_to("Logout",destroy_user_session_path, :method => :delete,class: "btn btn-lg btn-info" ) %> </a>
         <a class="navbar-text navbar-center"> Hello,<%= current_user.email %></a> <br>
         <% else %>
         <%= link_to 'login',new_user_registration_path, class:'btn btn-lg btn-primary' %></p></div>
         <% end %>
      </div>
    </div>
</nav>
       
          
          

    <%= yield %>
  </body>
</html>
